{
  "extends": "styleling-config-standard",
  "syntax": "css",
  "rules": {
    "at-rule-empty-line-before": [
      "always",
      {
        ignoreAtRules: ["import", "include"]
      }
    ]
  }
}
